.dashboard-home-student {
  align-items: center;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1214px;
  overflow: hidden;
  width: 1920px;
}
