.tasks-student {
  align-items: center;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  height: 1523px;
  overflow: hidden;
  position: relative;
  width: 390px;
}
