.task-detail-laptop {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 65px;
  min-width: 1440px;
  position: relative;
}

