.teacher-classes-tablet {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 160px;
  min-width: 1024px;
  position: relative;
}
