.teacher-classes-tablet {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 1024px;
  position: relative;
  overflow: hidden;
  padding-bottom: 30px;
  padding-top: 40px;
}