.parent-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 16px;
}

.title {
  color: #301b72 !important;
  font-size: 20px !important;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  display: flex;
}

.mk-title{
  border: 1px solid #D3D3D3;
  width: 100%;
  padding: 8px;
  text-align: center;
}

.data-parent {
  display: flex;
}

.column-width {
  flex: 1;
  flex-basis: 0;
}

.content-card {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 16px 0px rgba(114, 0, 224, 0.1);
  padding: 8px 12px;
}

.data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  padding: 8px;
  border-right: 1px solid #D3D3D3;
}

.data:last-child{
  border-right: none;
}

.heading {
  color: #1e252a;
  font-size: 18px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 20px !important;
}

.mk-heading{
  color: #1e252a;
  font-size: 18px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-bottom: 5px;
}

.content {
  color: var(--text, #1e252a);
  font-size: 16px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.7;
}

.option-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  border: 1px solid #D3D3D3;
  border-bottom: none;
}

.option-container:last-child {
  border-bottom: 1px solid #D3D3D3;
}

.criteria-title{
  color: var(--royal-purple);
  font-size: var(--font-size-xl);
  font-weight: bold;
}

.st-title{
  color: var(--royal-purple);
  font-size: var(--font-size-xl);
  font-weight: bold;
  margin: 0 auto;
}


.st-sub-title{
  color: #1e252a;
  font-size: 18px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 8px;
  width: 100%;
  text-align: center;
}

.st-sub-title:first-child{
  border-right: 1px solid #D3D3D3;
}

.mk-column{
  border: 1px solid #D3D3D3;
  padding: 8px;
}

.mk-empty-column{
  border: 1px solid transparent;
  padding: 8px;
}


