.focusAreaContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 100%;
    margin: 0 auto;
    padding: 8px 10%;
    border-bottom: 1px solid #C9C6CC80;
}

.focusBox{
    min-width: 113px;
    width: fit-content;
    height: 33px;
    border-radius: 22px;
    border: 1px solid #C9C6CC80;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-family: var(--font-family-ibm_plex_sans);
    font-weight: 500;
    font-size: var(--font-size-s);
    line-height: 16px;
    white-space: nowrap;
    cursor: pointer;
}

.highlighted{
    background-color: #F1E6FC;
}

.roundedColorBox{
    border: 1px solid #B2AEB780;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.Ellipse141{
    position: relative;
    min-width: 15px;
    height: 15px;
    border-radius: 10px;
}

.label{
    position: relative;
  align-self: stretch;
  margin-top: -1px;
  display: flex;
  align-items: center;
  color: var(--text, #1e252a);
  font-style: normal;
  font-family: var(--font-family-ibm_plex_sans);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
}

.mainFocusBox{
    display: flex;
    align-items: center;
    gap: 8px;
}

