.dashboard-home-student-laptop {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  min-width: 1025px;
  position: relative;
  transition: all 0.2s ease;
}