.tasks-student-mobile {
  align-items: center;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
  padding: 40px 0px;
}
