.teacher-classes-mobile {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 160px;
  position: relative;
  padding-bottom: 20px;
}
