.ql-editor {
  border: 1px solid black;
  border-color: black;
  border-radius: 0px 0px 8px 8px;
}
.ql-editor.ql-blank::before {
  color: black;
}
.ql-toolbar.ql-snow {
  border: 1px solid black;
  border-color: black;
  border-radius: 8px 8px 0px 0px;
}
.quill-editor-container {
  border: 1px solid black;
  border-color: black;
  border-radius: 8px 8px 8px 8px;
}
