/* .ql-editor {
  border: 1px solid black;
  border-color: black;
  border-radius: 0px 0px 8px 8px;
} */
.ql-container:not(.ql-blur) .ql-cursor {
  display: none;
}

.ql-container .ql-cursor {
  opacity: 1 !important;
  background-color: rgba(
    0,
    0,
    255,
    0.2
  ); /* Change the color and opacity as desired */
}
.ql-editor strong {
  font-weight: bold;
}
.ql-editor em {
  font-style: italic;
}
.ql-editor.ql-blank::before {
  color: black;
}
.quill-highlight {
  /* background-color: #fff9c4; */
}




.ql-toolbar{
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0px 0px 4px 1px rgba(62, 45, 120, 0.06);
  border: 1px solid #F5F2F9 !important;
  display: flex;
  justify-content: space-between;
}

.ql-toolbar.ql-snow{
  border-bottom: none;
}
.ql-container {
  overflow: hidden;
  border: none !important;
  min-height: 650px;
}


.quill-editor-container {
  border-radius: 8px;
  padding: 12px 33px;
  background-color: var(--white);
}
/* .ql-container.revised{
  border-radius: 20px 20px !important;
} */

.ql-editor{
  border: none;
  min-height: 750px;
}

.ql-formats{
display: flex;
gap: 20px;
}

.ql-formats button:hover{
 background-color: #7200e0 !important;
 border-radius: 10px;
}

.ql-formats button:hover .ql-stroke{
fill: none;
stroke: white !important;
}

.ql-picker-label:hover .ql-stroke {
  fill: #7200e0 !important;
  stroke: #7200e0 !important;
}

.ql-picker-label:hover{
  color: #7200e0 !important;
}

.ql-picker-item.ql-selected{
  color: #7200e0 !important;
}

.ql-picker-item:hover{
  color: #7200e0 !important;
}





