/* .ql-editor {
  border: 1px solid black;
  border-color: black;
  border-radius: 0px 0px 8px 8px;
} */
.ql-container:not(.ql-blur) .ql-cursor {
  display: none;
}

.ql-container .ql-cursor {
  opacity: 1 !important;
  background-color: rgba(
    0,
    0,
    255,
    0.2
  ); /* Change the color and opacity as desired */
}
.ql-editor p span{
  color: var(--text);
}
.ql-editor strong {
  font-weight: bold;
}
.ql-editor em {
  font-style: italic;
}
.ql-editor.ql-blank::before {
  color: black;
}
.quill-highlight {
  /* background-color: #fff9c4; */
}




.ql-toolbar{
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: 0px 0px 4px 1px rgba(62, 45, 120, 0.06);
  background-color: white;
  border: 1px solid #F5F2F9 !important;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 2px;
  z-index: 1;
}

.ql-toolbar.ql-snow{
  border-bottom: none;
}
.ql-container {
  overflow: hidden;
  border: none !important;
}


.quill-editor-container {
  border-radius: 8px;
  padding: 12px 33px;
  background-color: var(--white);
}


.ql-editor{
  border: none;
}

.ql-formats{
display: flex;
gap: 20px;
}

.ql-formats button,
.ql-formats .ql-picker {
  position: relative;
}

.ql-formats button[class^='ql-'] {
  position: relative;
}

.ql-formats button[class^='ql-']::after {
  white-space: nowrap;
  position: absolute;
  display: none;
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, -2px);
  background-color: #000;
  font-size: 10px;
  color: #fff;
  z-index: 10;
  border-radius: 4px;
  padding: 2px 5px;
}

.ql-formats button[class^='ql-']:hover::after {
  display: block;
}

.ql-formats .ql-image::after{
  content: 'Image';
}

.ql-formats .ql-bold::after {
  content: 'Bold';
}

.ql-formats .ql-italic::after {
  content: 'Italic';
}

.ql-formats .ql-underline::after {
  content: 'Underline';
}

.ql-formats .ql-list[value='bullet']::after {
  content: 'Bullet List';
}

.ql-formats .ql-list[value='ordered']::after {
  content: 'Numbered List';
}

.ql-formats .ql-link::after {
  content: 'Link';
}

.ql-formats .ql-clean::after {
  content: 'Clean Markup';
}


.ql-formats button:hover{
 background-color: #7200e0 !important;
 border-radius: 10px;
}

.ql-formats button:hover .ql-stroke{
fill: none;
stroke: white !important;
}

.ql-picker-label:hover .ql-stroke {
  fill: #7200e0 !important;
  stroke: #7200e0 !important;
}

.ql-picker-label:hover{
  color: #7200e0 !important;
}

.ql-picker-item.ql-selected{
  color: #7200e0 !important;
}

.ql-picker-item:hover{
  color: #7200e0 !important;
}

.main-side-container{
  position: absolute;
  top: 0;
  right: -320px;
  height: 100%;
  width: 320px;
  z-index: 546;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}



