.account-settings-u45-marking-criteria-u45-tablet {
  align-items: flex-start;
  background-color: var(--white-pointer-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 123px;
  min-width: 766px;
  overflow: hidden;
  position: relative;
}