.shortcuts {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--electric-violet);
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 352px;
  padding: 16px 0px;
  position: relative;
}

#overlay-shortcuts {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

