.tasks-desktop {
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  position: sticky;
  top: 68px;
  overflow-y: scroll;
}

.tasks-desktop::-webkit-scrollbar {
  display: none;
}

.tasks-desktop {
  scrollbar-width: none;
}

.tasks-desktop {
  -ms-overflow-style: none;
}
