.teacher-dashboard-desktp {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 120px;
  min-width: 1441px;
  position: relative;
  overflow: hidden;
}