.account-settings-marking-criteria-tablet-2 {
  align-items: flex-start;
  background-color: var(--white-pointer-2);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 123px;
  min-width: 390px;
  position: relative;
}

