.tooltip1 {
  align-items: flex-start;
  border: 1px solid;
  border-color: var(--electric-violet);
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 137px;
  padding: 12px;
  position: relative;
}

#overlay-tooltip1 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}
