.feedback-u45-wireframe-u45-teacher {
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  min-height: 1619px;
  min-width: 1920px;
  position: relative;
  width: 100%;
}

