.completed-tablet {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 80px;
  min-width: 766px;
  position: relative;
  padding: 40px 0px;
}
