.quill.ql-editor {
  width: 100%;
  height: 500px;
  .ql-toolbar {
    border: 1px solid black;
    border-radius: 8px 8px 0 0;
  }
  .ql-container.ql-snow {
    height: auto;
  }
  .ql-container {
    border: 1px solid black;
    border-radius: 0 0 8px 8px;
  }
  .ql-editor {
    height: 400px;
  }
}
