.submitCommentFrameRootRoot {
  gap: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  box-sizing: border-box;
  background-position: 50% 50%;
  background-size: cover;
  background-blend-mode: ;
  background-image: ;
}
.smallButton {
  width: 85px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  padding-top: 7px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  border-width: 0px;
  border-radius: 30px;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-style: solid;
  border-color: #7200e0;
  box-sizing: content-box;
  background-color: #7200e0;
  cursor: pointer;
}
.smallButton:hover {
  opacity: 70%;
}
.text1 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  font-family: IBM Plex Sans;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}
.smallButtonWhite {
  width: 82px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px;
  padding-top: 6.5px;
  padding-right: 14.5px;
  padding-bottom: 6.5px;
  padding-left: 14.5px;
  border-width: 0px;
  border-radius: 30px;
  border-top-width: 1.5px;
  border-right-width: 1.5px;
  border-bottom-width: 1.5px;
  border-left-width: 1.5px;
  border-style: solid;
  border-color: #7200e0;
  box-sizing: content-box;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: cover;
  background-blend-mode: ;
  background-image: ;
  cursor: pointer;
}
.smallButtonWhite:hover {
  opacity: 70%;
}
.text2 {
  color: #7200e0;
  font-size: 16px;
  font-weight: 500;
  font-family: IBM Plex Sans;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
}
