.highlight-hover-2 {
  align-items: flex-start;
  border: 1px none;
  display: flex;
  min-width: 739px;
}

#overlay-highlight-hover-2 {
  align-items: center;
  background-color: #ffffff00;
  justify-content: center;
}

