.feedback-teacher-mobile {
  align-items: flex-start;
  background-color: var(--white-pointer);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 140px;
  min-width: 390px;
  position: relative;
}
